<a href="https://colab.research.google.com/github/azaynul10/Assignments-Of-Programming-Language-1/blob/main/Assignment_6_(Dictionary_and_tuple).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This Assignment is to help you develop your concept of Tuples and Dictionary in Python.
[Please follow variable naming conventions including using meaningful variable names for all the tasks]
When you run your code, please make sure your outputs exactly match the sample outputs for each of the sample inputs given. Check if your code works for other valid inputs not given in the samples.
Write the code in Python to do the following tasks:


**Part** 1: Tuples
# Task 1

Assume, you have been given a tuple.

a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
Write one line of Python code to access and print the value 400.


---


Output: 400

In [ ]:
#Task1
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

# Task 2
Assume, you have been given a tuple. Write a Python program that creates a new tuple excluding the first and last two elements of the given tuple and prints the new tuple.

Hint: You may use tuple slicing.


---


Sample Input 1:

(10, 20, 24, 25, 26, 35, 70)

Sample Output 1:

(24, 25, 26)


---


Sample Input 2:

(-10, 20, 30, 40)

Sample Output 2:

()


---


Sample Input 3:

(-10, 20, 25, 30, 40)

Sample Output 3:

(25,)

In [ ]:
#Task2
tuple1=(-10, 20, 25, 30, 40)
print(tuple1[2:len(tuple1)-2])

(25,)

# Task 3
Assume, you have been given a tuple.


---


book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
Write a Python program that prints the size of the tuple and all its elements as shown below.


---


Output:
Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#Task3
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
tupl=book_info[:]
print("Size of the tuple is:",len(book_info))
for i in tupl:
  print(i)

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

## Task 4
Assume, you have been given a tuple with details about books that won the Good Reads Choice Awards.


---


book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
Write a Python program that prints the award category, the book name, and its total votes earned as shown below.
[Must use Tuple unpacking for printing and need to handle the quotation marks as a part of the output]


---


Output:
The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
#Task4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
for i in book_info:
  a,b,c=i
  print(f"{b} won the '{a}'category with {c} votes")

The Silent Patient won the 'Best Mystery & Thriller'category with 68821 votes
The Institute won the 'Best Horror'category with 75717 votes
The five won the 'Best History & Biography'category with 31783 votes
The Testaments won the 'Best Fiction'category with 98291 votes

# Task 5
Write a python program that takes an input from the user and finds the number of times that the input is present in a given tuple.


---


Example 1:

Given tuple: (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

Sample Input 1:

8

Sample Output 1:

8 appears 4 times in the tuple


---


Example 2

Given tuple: (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

Sample Input 2:

1

Sample Output 2:

1 appears 0 times in the tuple

In [ ]:
#Task5
given_tuple= (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
num=int(input())
times=0
for i in range(len(given_tuple)):
  if num==given_tuple[i]:
    times+=1
print(f"{num} appears {times} times in the tuple")

8
8 appears 4 times in the tuple

# Task 6
Write a Python program to reverse a given tuple.
[You are not allowed to use slicing]

Note: Unlike lists, tuples are immutable. So, in order to reverse a tuple, we may need to convert it into a list first, then modify the list, and finally convert it back to a tuple.


---


Example 1:

Given tuple: ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

Output:

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')


---


Example 2:

Given tuple: (10, 20, 30, 40, 50, 60)

Output:

(60, 50, 40, 30, 20, 10)

In [ ]:
#Task6
given_tuple = (10, 20, 30, 40, 50, 60)
list1=list(given_tuple)
list2=[]
for i in range(1,len(list1)+1):
    list2.append(list1[i*-1])
print(tuple(list2))

(60, 50, 40, 30, 20, 10)

# Part 2: Dictionary

# Task 7
Suppose you are given two dictionaries.
Now create a new dictionary "marks", merging the two dictionaries, so that the original two dictionaries remain unchanged.
Note: You can not use .update() function


---


Given:

{'Harry':15, 'Draco':8, 'Nevil':19}
{'Ginie':18, 'Luna': 14}

Output:

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}


---


Given:

{'A':90, 'B': 0}
{'C':50}

Output:

{'A': 90, 'B': 0, 'C': 50}

In [ ]:
#Task7
dict1={'Harry':15, 'Draco':8, 'Nevil':19}
dict2={'Ginie':18, 'Luna': 14}
dict3={}
for k,v in dict1.items():
  dict3[k]=v
for k,v in dict2.items():
  dict3[k]=v
print(dict3)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}


# Task 8

Write a Python program that takes a dictionary as an input from the user and then prints the average of all the values in the dictionary.
[You are not allowed to use len() and sum()]




Hint (1): For taking dictionary input
Approach (1): For taking dictionary as an input from the user, you may take the whole dictionary as a string using the input() function. Then you can use the split(), strip() functions and conditions to get the keys and values from the string. Finally, you can make the dictionary using the obtained data.
Approach (2): If the first approach seems too difficult you can create an empty dictionary and then just run a simple loop. For each iteration ask the user for a key and a value using the input() function and keep updating the dictionary with the key and value.
Hint (2): After you have a dictionary, you can use dictionary functions to get all the values from it, run loop to calculate the sum and the total number of values in the dictionary in order to find out the average.


---


Sample Input 1:

Jon:100, Dan:200, Rob:300

Sample Output 1:

Average is 200.


---


Sample Input 2:

Jon:100, Dan:200, Rob:30, Ned:110

Sample Output 2:

Average is 110.

In [ ]:
#Task8
str1=input().split(", ")
dict1={}
sum=0
count=0
for i in str1:
  str2=i.split(":")
  values=int(str2[1])
  keys=str2[0]
  dict1[keys]=values
for i in dict1.values():
  sum+=i
  count+=1
print("Average is",sum//count)

Jon:100, Dan:200, Rob:300
Average is 200

In [ ]:
number = int(input("Enter a number: "))
dict1 = {}
for i in range(number):
    key = input("write key of dictionary: ")
    val = int(input("write value for key of dictionary: "))
    dict1[key] = val
total = 0
counter = 0
for key, val in dict1.items():
    total += val
    counter += 1
average = total / counter
print('Average is',average)

Enter a number: 4
write key of dictionary: Jon
write value for key of dictionary: 100
write key of dictionary: Dan
write value for key of dictionary: 200
write key of dictionary: Rob
write value for key of dictionary: 30
write key of dictionary: Ned
write value for key of dictionary: 110
Average is 110.0


# Task 9
Suppose there is a dictionary named exam_marks as given below.
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
Write a Python program that takes an input from the user and creates a new dictionary with only those elements from 'exam_marks' whose keys have values higher than the user input (inclusive).


---

Sample Input 1:

170

Sample Output 1:
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}


---


Sample Input 2:

190

Sample Output 2:

{'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#Task9
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
num=int(input())
dict3={}
for k,v in exam_marks.items():
  if v>=num:
    dict3[k]=v
print(dict3)

190
{'Alden Cantrell': 200, 'Pierre Cox': 190}

# Task 10
Write a Python program that finds the largest value with its key from a given dictionary.

[You are not allowed to use the max() function for this task]

Note: You do not need to take the dictionaries as an input from the user but your code should work for any given dictionary. Also, you need to handle the quotation marks as a part of the output.
Hint: Think of membership operators (in and not in). You can use dictionary functions to get the values.


---


Sample 1:
Given:

{'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}

Output:

The highest selling book genre is 'mystery' and the number of books sold are 15.


---


Sample 2:

Given:

{'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9}

Output:

The highest selling book genre is 'horror' and the number of books sold are 14.

In [ ]:
#Task10
given_list={'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9}
max=0
for k,v in given_list.items():
  if v>max:
    max=v
    max_key=k
print(f"The highest selling book genre is '{max_key}' and the number of books sold are {max}.")

The highest selling book genre is 'horror' and the number of books sold are 14.

# Task 11
Write a Python program that takes a String as an input from the user and counts the frequency of each character using a dictionary. For solving this problem, you may use each character as a key and its frequency as values. [You are not allowed to use the count() function]
Hint: You can create a new dictionary to store the frequencies. You may ignore case for simplicity (i.e. may consider P and p to be the same).


---


Sample Input:

"Python programming is fun"

Sample Output:

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#Task11
str1=input().lower()
count=0
dict3={}
for i in str1:
  if i!=" " and i!='"':
    for j in str1:
      if i==j:
        count+=1
        dict3[i]=count
    count=0
print(dict3)

"Python programming is fun"
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

# Task 12
Suppose you are given the following dictionary where the values are lists.

dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}

Write a Python program that counts the total number of items in a dictionaryâ€™s values and prints it.

[Without using sum(), len(), count() functions]

Note: Make changes to the above dictionary and see if your code works properly for other dictionaries as well.


---


Output:

9

In [ ]:
#Task12
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count=0
for i in dict_1.values():
  for j in i:
    count+=1
print(count)

9

# Task 13
Suppose you have been given the following list of tuples.

list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]

Write a Python program that converts this list of tuples into a dictionary and then prints the dictionary. The items in each tuple are a key and its value respectively. You need to group the values with the same keys into a list as shown below.

[You are not allowed to use set]

Hint: Think of membership operators (in and not in).


---


Output:
{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
#Task13
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dict1={}
dup=""
for i,j in list_1:
  if i not in dict1.keys():
    dict1[i]=[j]
  else:
    dict1[i]+=[j]
print(dict1)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

# Task 17
Suppose there is a dictionary named my_dictionary.

my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}.

Now write a Python program to remove empty items from the dictionary. [Empty items means keys without any values (None)].


---


Output:

{'c1':'Red', 'c2':'Green', 'd4':'Blue'}

In [ ]:
my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}
dict1={}
for k,v in my_dictionary.items():
  if v!=None:
    dict1[k]=v
  else:
    continue
print(dict1)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

# Task 18

Suppose you are given a dictionary as shown below. Write a Python program that takes two inputs from the user representing the lower (inclusive) and upper (exclusive) of a range of values. Your task is to extract all the items from the dictionary whose values lie in the range given as input by the user.

dict_1 = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}


---


Sample Input 1:

9, 12

Sample Output 1:

{'c': 9, 'e': 11}

Explanation: Keys with values within the range of 9 and 11 are extracted.


---


Sample Input 2:

14, 18

Sample Output 2:

{}

Explanation: No values in range.

In [ ]:
dict_1 = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}
num1=int(input())
num2=int(input())
dict1={}
for k,v in dict_1.items():
  if v==(num1) or v==(num2-1):
    dict1[k]=v
  else:
    continue
print(dict1)

14
18
{}

# Task 19
Given a list of tuples, your task is to group the tuples based on the second element in the tuples as shown in the examples below. We can achieve this using dictionary by checking the second element in each tuple.
[You do not need to take tuple as input and can assume that it is given as below]


---


Example 1:

Given:

[(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]

Output:

{80: [(20, 80), (31, 80)],
11: [(88, 11), (27, 11)],
22: [(1, 22)]}


---


Example 2:

Given:

[(20, 'Sad'), (31, 'Sad'), (88, 'NotSad'), (27, 'NotSad')]

Output:


{'NotSad': [(88, 'NotSad'), (27, 'NotSad')],
'Sad: [(20, 'Sad'), (31, 'Sad')]}

In [ ]:
#Task 19
given_tuple=[(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]
dict1={}
for k,v in given_tuple:
  if v not in dict1.keys():
    dict1[v]=[(k,v)]
  else:
     dict1[v]+=[(k,v)]
print(dict1)

{80: [(20, 80), (31, 80)], 22: [(1, 22)], 11: [(88, 11), (27, 11)]}